@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
/* FONT SIZE */
.font-size-84 {
  font-size: 84px;
}
.font-size-34 {
  font-size: 34px;
}
.font-size-60{
  font-size: 60px;
}
.font-size-18{
  font-size: 18px;
}
.font-size-36{
  font-size: 36px;
}
.font-size-64{
  font-size: 64px;
}
.font-size-21{
  font-size: 21px;
}
.font-size-30{
  font-size: 30px;
}
.font-size-16{
  font-size: 16px;
}
.font-size-14{
  font-size: 14px;
}
.font-size-40{
  font-size: 40px;
}
.font-size-100{
  font-size: 100px;
}
.font-size-42{
  font-size: 42px;
}
.font-size-56{
  font-size: 56px;
}
.font-size-19{
  font-size: 19px;
}
.font-size-20{
  font-size: 20px;
}
.font-size-45{
  font-size: 45px;
}
.font-size-78{
  font-size: 78px;
}



/* LINE HEIGHT */
.algo-line-height-26{
  line-height: 1.625rem;
}
.algo-line-height-64{
  line-height:4rem;
}
.algo-line-height-34{
  line-height:2.125rem;
}
.algo-line-height-1{
  line-height :1.1rem;
}
.algo-line-height-24{
  line-height: 1.5rem;
}
.algo-line-height-68{
  line-height: 4.25rem;
}
.algo-line-height-60{
  line-height: 3.75rem;
}
.algo-line-height-23{
  line-height: 23px;
}
.algo-line-height-48{
  line-height: 48px;
}
.algo-line-height-74{
  line-height: 74px;
}
.algo-line-height-21{
  line-height: 21px;
}
.algo-line-height-50{
  line-height: 50px;
}
.algo-line-height-1{
  line-height: 1px;
}
/* LETTER SPACING */
.letter-spacing-60{
  letter-spacing: 0.06em;
}
.letter-spacing-100{
  letter-spacing: 0.1em;
}
.letter-spacing-8{
  letter-spacing: 8px;
}

.gap-20{
  gap: 20px;
}



@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.6s ease-out forwards;
}

@layer utilities {
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }

  @keyframes bob {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-4px);
    }
  }

  .animate-slide {
    animation: slide 60s linear infinite;
  }

  .animate-bob {
    animation: bob 3s ease-in-out infinite;
  }

  .animate-delay-0 {
    animation-delay: 0s;
  }
  .animate-delay-1 {
    animation-delay: 0.5s;
  }
  .animate-delay-2 {
    animation-delay: 1s;
  }
  .animate-delay-3 {
    animation-delay: 1.5s;
  }
  .animate-delay-4 {
    animation-delay: 2s;
  }
}